.tableCenter {
	height: 60px;
	width: 120px;
	background-color: #CBC3E3;
	position: fixed;
	top: 50px;
	left: 100px;
}

.tableOuterCenter {
    height: 80px;
    width: 120px;
    background-color: black;
    position: fixed;
    top: 40px;
    left: 100px;
}

.leftCircle {
	height: 60px;
	width: 60px;
	background-color: #CBC3E3;
	border-radius: 50%;
	position: fixed;
	top: 50px;
	left: 70px;
}

.outerLeftCircle {
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    top: 40px;
    left: 60px;
}

.rightCircle {
	height: 60px;
	width: 60px;
	background-color: #CBC3E3;
	border-radius: 50%;
	position: fixed;
	top: 50px;
	left: 190px;
}

.outerRightCircle {
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    top: 40px;
    left: 180px;
}

.led {
	height: 2px;
	width: 2px;
	background-color: red;
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}