.tableCenter {
	height: 360px;
	width: 640px;
	background-color: #CBC3E3;
	position: fixed;
	top: 60px;
	left: 600px;
}

.tableOuterCenter {
    height: 480px;
    width: 640px;
    background-color: black;
    position: fixed;
    left: 600px;
}

.leftCircle {
	height: 360px;
	width: 360px;
	background-color: #CBC3E3;
	border-radius: 50%;
	position: fixed;
	top: 60px;
	left: 420px;
}

.outerLeftCircle {
    height: 480px;
    width: 480px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    left: 360px;
}

.rightCircle {
	height: 360px;
	width: 360px;
	background-color: #CBC3E3;
	border-radius: 50%;
	position: fixed;
	top: 60px;
	left: 1060px;
}

.outerRightCircle {
    height: 480px;
    width: 480px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    left: 1000px;
}

.led {
	height: 4px;
	width: 4px;
	background-color: red;
	position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}